src/**
.vscode/**
.vscode-test/**
**/*.ts
**/*.map
tsconfig.json
.eslintrc*
.prettierrc*
.prettierignore
.editorconfig
.git/**
.gitignore
.gitattributes
.github/**
node_modules/**
npm-debug.log*
yarn.lock
pnpm-lock.yaml